<?xml version='1.0' encoding='utf-8'?>
<widget id="com.youaugment.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>YouAugmentApp</name>
    <description>
        Augmented Reality App created by YouAugment AR App Creator.
    </description>
    <author email="contact@youaugment.com" href="http://youaugment.com">
        YouAugment Team
    </author>
	<icon src="icon.png" />
    <content src="index.html" />
    <access origin="*" />
	<allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	<platform name="android">
        <allow-intent href="market:*" />
    </platform>
	<platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
	<plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
